  <div class="modal-body">
    <%= form_for(current_user, :url => '/crop_image',:method=>"PUT", id:"form-avatar") do |f| %>
      <%= f.cropbox :avatar, :width => 550,:height => 550  %>
  </div>
                   
  <div class="modal-footer">
   
    <div class="form-group pull-left">
        <%= f.label "Change Image" %> <br/>
        <%= f.file_field :avatar, id:'avatar-upload' %>
    </div>
      <%= f.submit 'Crop and Upload',:class=>"btn btn-primary" %>           
               
  <% end %>
  </div>