<!-- PROFILE HEADER -->

<div class="row">
   
  <div class="user-cover-container">
     <%= link_to "#","data-toggle"=>"modal", "data-target"=>"#coverModal" do %>
      <%= image_tag @user.cover.url(:medium), class:'user-show-cover' %>
    <% end %>
  </div>

  <div class="col-md-2 col-xs-6 col-sm-3  user-avatar-wrapper">
    <div class="user-avatar-container">
      
      <%= link_to "#","data-toggle"=>"modal", "data-target"=>"#avatarModal" do %>
       <%= image_tag @user.avatar.url(:medium), class:'user-show-avatar'  %>
      <% end %>
    </div>
  </div>
  
  <div class="col-md-3 col-sm-6 col-xs-6 user-profile-name-container">
    <h2 class="user-profile-name"><%= @user.full_name %></h2>
     <% if current_user %>
      <%= link_to "Follow", friendships_path(friend_id: @user.id), method: :post, class:"btn btn-primary" unless current_user.follows_or_same?(@user) %>
      <%= link_to "Unfollow", friendship_path(current_user.current_friendship(@user)), method: :delete,  data: {confirm: "Are you sure?"}, class:"btn btn-danger" unless current_user.not_follows(@user) %>
    <% end %>
  </div> 
  
</div>

<div class="row">
  <div class="tabs-profile col-md-8 col-md-offset-2 col-xs-12 col-sm-12">
     <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#wall">Wall</a></li>
        <li><a data-toggle="tab" href="#followers">Followers</a></li>
        <li><a data-toggle="tab" href="#followed">Following</a></li>
      </ul>
  </div>
</div>

<!-- PROFILE CONTENT -->

<div class="tab-content">
  
  <div id="wall" class="tab-pane fade in active">
    <% if current_user.followed_by_and_follower?(@user) %>
      <div class="row">
        <div class="newpost-form col-md-8 col-md-offset-2">
          <div class="well comments">
             <%= render 'posts/newpost' %>
           </div>
        </div>
      </div>
    <% end %>
    <div class="listing-posts" id="posts">
      <%= render  partial: "posts/post", :collection => @user.posts_by_profile, :as => :pst %> 
    </div>
  </div>
  
  <div id="followers" class="tab-pane fade">
    <div class="col-md-8 col-xs-12 col-md-offset-2">
      <h3>Followers</h3>
      <% if current_user.followed_by_and_follower?(@user) %>
        <% @user.followers.each do |f| %>
          <div class="well member">
            <div class="row">
              <div class="col-md-1 col-xs-2 col-sm-1">
                <%= image_tag f.avatar.url(:thumb), class:'user-show-avatar-posts'  %>
              </div>
              <div class="col-md-6 col-xs-6 col-sm-6 post-creator">
                  <%= link_to f.full_name, user_path(f), class:'post-username' %>
              </div>
              <div class="col-md-1 col-xs-2 col-sm-1 pull-right">
                <% if current_user %>
                  <%= link_to "Follow", friendships_path(friend_id: f.id), method: :post, class:"btn btn-primary pull-right" unless current_user.follows_or_same?(f) %>
                  <%= link_to "Unfollow", friendship_path(current_user.current_friendship(f)), method: :delete,  data: {confirm: "Are you sure?"}, class:"btn btn-danger pull-right" unless current_user.not_follows(f) %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      </div>
  </div>
    
  <div id="followed" class="tab-pane fade">
    <div class="col-md-8 col-xs-12 col-md-offset-2">
      <h3>Following</h3>
      <% if current_user.followed_by_and_follower?(@user) %>
        <% @user.followed.each do |f| %>
          <div class="well member">
            <div class="row">
              <div class="col-md-1 col-xs-2 col-sm-1">
                <%= image_tag f.avatar.url(:thumb), class:'user-show-avatar-posts'  %>
              </div>
              <div class="col-md-6 col-xs-6 col-sm-6 post-creator">
                  <%= link_to f.full_name, user_path(f), class:'post-username' %>
              </div>
              <div class="col-md-1 col-xs-2 col-sm-1 pull-right">
                <% if current_user %>
                  <%= link_to "Follow", friendships_path(friend_id: f.id), method: :post, class:"btn btn-primary pull-right" unless current_user.follows_or_same?(f) %>
                  <%= link_to "Unfollow", friendship_path(current_user.current_friendship(f)), method: :delete,  data: {confirm: "Are you sure?"}, class:"btn btn-danger pull-right" unless current_user.not_follows(f) %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    </div>
    
</div>
    
  
<!-- MODAL AVATAR -->

  <%= image_tag @user.avatar.url(:large),  class:'avatar-view', :height => 650, hidden: true, id:'avatar-hidden'   %>
  <% if @user.cover.exists? %>
    <%= image_tag @user.cover.url, class:'cover', :width => 1000, hidden: true, id:'cover-hidden'   %>
  <% else  %>
    <%= image_tag @user.cover.url(:medium), class:'cover', :width => 1000, hidden: true, id:'cover-hidden'   %>
  <% end %>

<div class="modal fade image_modal" id="avatarModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               Profile Picture
            </h4>
         </div>

        <% if @user.id == current_user.id%>
            <div class="modal-body">
                <%= image_tag @user.avatar.url(:large),  class:'avatar-view', :height => 650   %>
            </div>

            <div class="modal-footer">
              <%= form_for(current_user, :url => '/upload_avatar',:method=>"PUT", id:"form-avatar-upload") do |f| %>
              <div class="form-group pull-left">
                <%= f.label "Upload Image" %> <br/>
              <%= f.file_field :avatar, id:'avatar-upload-2' %>
              </div>
              <%= f.submit 'Upload',:class=>"btn btn-primary", disabled: true, id:'btnUploadAvatar' %>
               <% end %> 
            </div>
       
        <% else %>
          <div class="modal-body">
            <%= image_tag @user.avatar.url(:large), class:'avatar-view', :height => 650   %>
          </div>
        <% end %>
        
         
        
      </div><!-- /.modal-content -->
    </div>
  </div>
  
  
  <!-- MODAL COVER  -->
  
  <div class="modal fade image_modal" id="coverModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               Cover Picture
            </h4>
         </div>
          <% if @user.id == current_user.id%>
            <div class="modal-body">
              <% if @user.cover.exists? %>
                <%= image_tag @user.cover.url, class:'cover', :width => 1000 %>
              <% else  %>
                <%= image_tag @user.cover.url(:medium), class:'cover', :width => 1000 %>
              <% end %>
            </div>
             <div class="modal-footer">
              <%= form_for(current_user, :url => '/upload_cover',:method=>"PUT", id:"form-cover-upload") do |f| %>
              <div class="form-group pull-left">
                <%= f.label "Upload Image" %> <br/>
              <%= f.file_field :cover, id:'cover-upload' %>
              </div>
              <%= f.submit 'Upload',:class=>"btn btn-primary", disabled: true, id:'btnUploadCover' %>
               <% end %> 
            </div>
          <% else %>
            <div class="modal-body">
             <% if @user.cover.exists? %>
                <%= image_tag @user.cover.url, class:'cover', :width => 1000 %>
              <% else  %>
                <%= image_tag @user.cover.url(:medium), class:'cover', :width => 1000 %>
              <% end %>
            </div>
          <% end %>
        
      </div><!-- /.modal-content -->
    </div>
  </div>
