<div class="row">
  <h1 class="page-header"><%= @user.full_name %>'s Microblog</h1>
  <div class="col-md-8 col-md-offset-2">
    <%= form_for([@user, @post], remote: true, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="col-md-10">
        <%= f.text_area :body, rows:2, :resize => :none, placeholder: "Type your post!", class:"form-control", :autocomplete => :off, id:"post-input-body" %>
      </div>
      <div class="col-md-2">
          <%= f.submit "Post", id:'newpost', class:"btn btn-primary" %>
      </div>
      <% end %>
  </div>
</div>

<div class="listing-posts" id="posts">
 
 
 <%= render  partial: "posts/post", :collection => @posts, :as => :pst %> %>
 
</div>