<!-- PROFILE HEADER -->

<div class="row">
   
  <div class="user-cover-container">
    <%= link_to @user.cover.url, 'data-lightbox' => 'cover-image', 'data-title' => 'Cover image' do %>
      <%= image_tag @user.cover.url, class:'user-show-cover' %>
    <% end %>
  </div>
   
  <div class="col-md-2 user-avatar-wrapper">
    <div class="user-avatar-container">
      <%= link_to "#","data-toggle"=>"modal", "data-target"=>"#avatarModal" do %>
       <%= image_tag @user.avatar.url(:medium), class:'user-show-avatar'  %>
      <% end %>
    </div>
  </div>
  
  <div class="col-md-3 user-profile-name-container">
    <h2 class="user-profile-name"><%= @user.full_name %></h2>
   
  </div>
  
  <div class="user-profile-follow-btns">
      <% if current_user %>
      <%= link_to "Follow", friendships_path(friend_id: @user.id), method: :post, class:"btn btn-primary" unless current_user.follows_or_same?(@user) %>
      <%= link_to "Unfollow", friendship_path(current_user.current_friendship(@user)), method: :delete,  data: {confirm: "Are you sure?"}, class:"btn btn-danger" unless current_user.not_follows(@user) %>
    <% end %>
    
 



  </div>
    
  <div class="tabs-profile col-md-8">
     <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#wall">Wall</a></li>
        <li><a data-toggle="tab" href="#followers">Followers</a></li>
        <li><a data-toggle="tab" href="#followed">Following</a></li>
      </ul>
  </div>
  
</div>

<!-- PROFILE CONTENT -->

<div class="tab-content">
  
  <div id="wall" class="tab-pane fade in active">
    <% if current_user.followed_by_and_follower?(@user) %>
      <div class="row">
        <div class="newpost-form col-md-8 col-md-offset-2">
          <div class="well comments">
             <%= render 'posts/newpost' %>
           </div>
        </div>
      </div>
    <% end %>
    <div class="listing-posts" id="posts">
      <%= render  partial: "posts/post", :collection => @user.posts_by_profile, :as => :pst %> 
    </div>
  </div>
  
  <div id="followers" class="tab-pane fade">
    <div class="col-md-8 col-md-offset-2">
      <h3>Followers</h3>
      <% if current_user.followed_by_and_follower?(@user) %>
        <% @user.followers.each do |f| %>
          <div class="well member">
            <div class="row">
              <div class="col-md-1">
                <%= image_tag f.avatar.url(:thumb), class:'user-show-avatar-posts'  %>
              </div>
              <div class="col-md-6 post-creator">
                  <%= link_to f.full_name, user_path(f), class:'post-username' %>
              </div>
              <div class="col-md-1 pull-right">
                <% if current_user %>
                  <%= link_to "Follow", friendships_path(friend_id: f.id), method: :post, class:"btn btn-primary pull-right" unless current_user.follows_or_same?(f) %>
                  <%= link_to "Unfollow", friendship_path(current_user.current_friendship(f)), method: :delete,  data: {confirm: "Are you sure?"}, class:"btn btn-danger pull-right" unless current_user.not_follows(f) %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      </div>
  </div>
    
  <div id="followed" class="tab-pane fade">
    <div class="col-md-8 col-md-offset-2">
      <h3>Following</h3>
      <% if current_user.followed_by_and_follower?(@user) %>
        <% @user.followed.each do |f| %>
          <div class="well member">
            <div class="row">
              <div class="col-md-1">
                <%= image_tag f.avatar.url(:thumb), class:'user-show-avatar-posts'  %>
              </div>
              <div class="col-md-6 post-creator">
                  <%= link_to f.full_name, user_path(f), class:'post-username' %>
              </div>
              <div class="col-md-1 pull-right">
                <% if current_user %>
                  <%= link_to "Follow", friendships_path(friend_id: f.id), method: :post, class:"btn btn-primary pull-right" unless current_user.follows_or_same?(f) %>
                  <%= link_to "Unfollow", friendship_path(current_user.current_friendship(f)), method: :delete,  data: {confirm: "Are you sure?"}, class:"btn btn-danger pull-right" unless current_user.not_follows(f) %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    </div>
    
</div>
    
  
<!-- Modal -->
<div class="modal fade image_modal" id="avatarModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               Profile Picture
            </h4>
         </div>
  
        <% if @user.id == current_user.id%>
        
        <!-- USER WITH DEFAULT IMAGE -->
        
          <% if !@user.avatar.exists? %>
            <div class="modal-body">
              <div class="show_crop_image_form">
                <%= image_tag @user.avatar.url(:large), :width => 550,:height => 550, id:'avatar-view'  %>
              </div>
            </div>
            
            <div class="modal-footer">
              <%= form_for(current_user, :url => '/upload_avatar',:method=>"PUT", id:"form-avatar-upload") do |f| %>
              <div class="form-group pull-left">
                <%= f.label "Upload Image" %> <br/>
              <%= f.file_field :avatar, id:'avatar-upload-2' %>
              </div>
              <%= f.submit 'Upload',:class=>"btn btn-primary" %>
               <% end %> 
            </div>
            
          <% else %>
            <!-- USER AVATAR CROP -->
           <%= render 'users/crop_image_form'  %>
           
          <% end %>
        <% else %>
          <div class="modal-body">
            <%= image_tag @user.avatar.url(:large), :width => 550,:height => 550  %>
          </div>
        <% end %>
        
         
        
      </div><!-- /.modal-content -->
    </div>
  </div>
